<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script defer src="scripts/app.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="text-left">
        <h1>favorite taquerias</h1>
        <p class="tacos"></p>
        <div class="text-right">
          <h1>Albums I'm currently listening to</h1>
          <p class="albums"></p>
        </div>
      </div>
    </div>
  </body>
</html>
